.about-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  align-items: center;
}

.about-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.about-members li:nth-child(1),
.about-members li:nth-child(2) {
  margin-bottom: 2rem;
}

.about-member {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: center;
  width: 100%;
 }

.about-member figure {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: white;
  border-radius: 50%;
 }

 .about-member h4 {
   margin-bottom: 0.5rem;
   font-weight: 600;
   letter-spacing: 1px;
   font-size: 20px;
   text-align: center;
 }

.about-member p {
  display: none;
  text-align: center;
  color: #CBD5E0;
}

.about-member p span {
  display: block;
}

.about-quote {
  padding: 0 2rem;
  text-align: center;
  font-size: 18px;
  font-style: italic;
  line-height: 1.6;
}

