.hero-header,
.hero-buttons,
.hero-special-button {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}

.hero-header { top: 30vh; }

.hero-buttons { top: 63vh; }
.hero-buttons a { margin: 0 0.2rem; }

.hero-special-button {
  display: flex;
  justify-content: center;
  top: 83vh;
}

.hero-special-button-outline {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  height: 34px;
  width: 13px;
  border: 2px solid white;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

.hero-special-button-outline:hover {
  border-color: #f65252;
}

.hero-special-button-inner {
  height: 16px;
  width: 5px;
  border-radius: 15px;
  background-color: white;
}
