nav {
  display: flex;
  z-index: 3;
  transition: background-color .3s;
}

.nav-transparent {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: transparent;
}

.nav-white {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5efe2;
  padding: 1rem 2rem;
}

.nav-icon-container {
  flex-grow: 1;
}

.nav-icon {
  font-family: 'Bitter', serif;
  font-weight: 700;
  margin-left: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  transition: .2s ease-in-out;
}

#nav_icon_white { color: #ffffff; }
#nav_icon_black {
  display: none;
  color: #000000;
}

.nav-hamburger {
  margin-right: 1rem;
  font-size: 1.6rem;
}

#nav_menu_open {
  color: #ffffff;
  transition: .2s ease-in-out;
}

#nav_menu_close {
  color: #000000;
  transition: .2s ease-in-out;
}

#nav_icon_black:hover,
#nav_icon_white:hover,
#nav_menu_open:hover,
#nav_menu_close:hover {
  color: #f65252;
}

#nav_menu {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #f5efe2;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  clip-path: circle(0% at 100% 0%);
  transition: clip-path .5s ease-in-out;
}

#nav_menu ul {
	display: flex;
	width: 100%;
  justify-content: center;
	align-items: center;
	flex-direction: column;
}

#nav_menu ul li {
  margin-bottom: 2rem;
}

#nav_menu ul li a {
	font-size: 3rem;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
  border-bottom: .5rem solid transparent;
  transition: 500ms;
  letter-spacing: 8px;
}

#nav_menu ul li a:hover {
  border-color: #f65252;
}
